<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./../libs/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
    <link rel="stylesheet" href="./../libs/css/login.css">
  <title>Login</title>
</head>

<body>
  <div class="container">

    <div class="row">
      <h4> <i class="fas fa-lock" style="margin-left: 500%;padding-top: 6px; color: white"></i></h4>
      <h3 style="padding-top: 6x;margin-left: 30%"> Đăng Nhập</h3>
    </div>
  
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Tên Đăng Nhập</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mật khẩu</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">


      </div>


      
    </form>
  
  <div class="row">
    <button type="submit" class="btn btn-primary"> <a href="TOngQuan.html" style="color:blanchedalmond"> Đăng Nhập</a></button>

  </div>
  <div class="row">
    
    <div class="support">
      <div class="row pl-2 pb-2 pt-1">
        <div class="col-6">
      <div class="login_sublink">
        <a href="">
          Quên mật khẩu?
        </a>
      </div>
    </div>
    <div class="col-6">
      <div class="register">
        <a href="">
          Đăng kí
        </a>
      </div>
    </div>
  </div>
    </div>
  </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
</body>

</html>